.container {
    max-width: 80%;
    margin: auto;
  }
  
  .main-header {
    text-align: left;
    margin-bottom: 0px;
  }
  
  .content-area {
    padding: 2% 0%;
  }
  
  .main-area {
    width: 48%;
    float: left;
  }
  
  .sidebar {
    width: 48%;
    float: right;
  }
  
  .para1 {
    margin: 0px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .fix {
    clear: both;
  }
  
  form {
    max-width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 2.5%;
  }
  
  @media (min-width: 751px) {
    form {
      max-width: 40%;
    }
  }
  
  .title,
  .options {
    margin-bottom: 0.3rem;
  }
  
  .title {
    padding-top: 5%;
  }
  
  label a {
    text-decoration: none;
  }
  
  fieldset {
    border: 0;
  }
  
  label + input {
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
  }